<nav class="navbar" style="background-color: #e3f2fd;">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="onNavigateToHomePage()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onNavigateToPregunta01Page()">Pregunta01</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onNavigateToPregunta02Page()">Pregunta02</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onNavigateToPregunta03Page()">Pregunta03</a>
        </li>
      </ul>
</nav>
<router-outlet></router-outlet>